*
{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 24px;
}
a, a:hover{
    text-decoration: none;
}
/* header section css */
.header{
    width: 100%;
    background: #f6f9f9;
    overflow-x: hidden;
}
.header img{
    padding: 14px 0px;
}
.header ul{
    display: block;
    text-align: right;
    padding: 25px 0px;
}
.header ul li{
    list-style: none;
    display: inline-block;
}
.header ul li a{
    margin-left: 15px;
    color: #999;
    font-size: 20px;
    font-weight: 400;
    
}
.header ul li a:hover{
	text-decoration: none;
	color: #15a4fa;
}

/* banner section css */

.banner{
    width: 100%;
    padding: 85px 0px;
    background: url("../img/banner.png") center top no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
.banner .banner-inner{
    margin: 12% 0px;
    text-align: center;
}
.banner .banner-inner h1{
    font-size: 85px;
    font-weight: 400;
    line-height: 95px;
    color: #fff;
}
.banner .banner-inner .divert{
    width: 40%;
    height: 3px;
    background: #15a4fa;
    margin: 10px auto;
}
.banner .banner-inner p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #f6f6f6;
    margin: 30px 0px 52px;
}
.banner .banner-inner .btn-info{
    background: transparent;
    color: #fff;
    padding: 10px 22px;
    border: 1px solid #15a4fa;
    border-radius: 3px;
    transition: 1s;
}
.banner .banner-inner .btn-info:hover{
    background: #15a4fa;
}
.banner .banner-inner .arrow{
    transform: translateY(550%);
}

/* simple-pure section css */
.simple-pure{
    width: 100%;
    background: #f6f9f9;
    padding: 50px 0px;
    text-align: center;
    overflow-x: hidden;
}
.simple-pure h1{
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    color: #000;
}
.simple-pure p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #a0a0a0;
    margin-top: 20px;
}
/* feature section css */
.feature{
    width: 100%;
    padding: 50px 0px;
    text-align: center;
    overflow-x: hidden;
}
.feature h4{
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    color: #000;
    margin-top: 20px;
}
.feature p{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #a0a0a0;
    margin-top: 10px;
}
/* portofolio section css */
.protofolio{
    width: 100%;
    background: #f6f9f9;
    padding: 50px 0px;
    overflow-x: hidden;
}
.protofolio-title{
    text-align: center;
}
.protofolio-title h1{
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    color: #000;
}
.protofolio-title p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #a0a0a0;
    margin-top: 7px;
}
.protofolio-inner{
    width: 360px;
    height: 260px;
    margin-top: 20px;
    position: relative;
}
.protofolio-inner .protofolio-hover{
    width: 360px;
    height: 260px;
    background: rgb(21, 164, 250,.8);
    border-radius: 3px;
    position: absolute;
    top: 0px;
    display: none;
}
.protofolio-inner .protofolio-hover .protofolio-icon{
    position: absolute;
    top: 37%;
    left: 39%;
}
.protofolio-inner:hover .protofolio-hover{
    display: block;
    transition: 1s;
}
/* stay-us section css */
.stay-us{
    width: 100%;
    background: url("../img/contact-banner.png") center top no-repeat;
    background-size: cover;
    padding: 50px 0px;
    overflow-x: hidden;
}
.stay-us-title{
    text-align: center;
}
.stay-us-title h1{
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    color: #fff;
}
.stay-us-title p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #a0a0a0;
    margin-top: 7px;
}
.main-form{
    width: 100%;
    /* margin: 0px auto; */
}
.main-form .form-group{
    width: 100%;
}
.main-form .form-group .form-control{
    width: 100%;
    padding: 23px;
    margin-top: 10px;
    border: 1px solid #a0a0a0;
    border-radius: 5px;
    background: transparent;
}
.main-form .form-group .form-control:focus{
    outline: none;
}
.main-form .form-group textarea{
    height: 140px;
}
.stay-us span{
    color: #fff;
    margin-left: 10px;
}
.stay-us .btn-info{
    padding: 7px 23px;
    background: transparent;
    color: #fff;
    margin-top: -40px;
    border: 1px solid #15a4fa;
    border-radius: 3px;
    transition: 1s;
    text-align: right;
    margin-left: 4px;
}
.stay-us .btn-info:hover{
    background: #15a4fa;
}
/* footer section css */
.footer{
    width: 100%;
    float: left;
    background: #f6f9f9;
}
.footer .footer-inner{
    font-size: 14px;
    font-weight: 400;
    color: #999;
    padding: 0px 0px 15px;
    margin-top: 29px;
}
.footer ul{
    text-align: right;
    list-style: none;
    padding: 5px 0px;
    margin-top: 13px;
}
.footer ul li{
    display: inline;
}
.footer ul li a .fa{
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #15a4fa;
    color: #fff;
    border-radius: 3px;
}